<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Course page</title>
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <header>
    Home <br />
    <h1>Courses in NRIIT Learning Management</h1>
    <p>Learn Practice Get Placed</p>
    <nav>
      <a href="index.html">Home</a>
      <a href="about.html">About</a>
      <a href="courses.html">Courses</a>
      <a href="trainers.html">Trainers</a>
      <a href="register.html">Register</a>
      <a href="login.html">Login</a>
      <a href="contact.html">Contact</a>
    </nav>
  </header>
  <main>
    <h2>Courses Offered</h2>
    <table border="|" cellpadding="10">
      <tr>
        <th>Course</th>
        <th>Duration</th>
        <th>Mode</th>
      </tr>
      <tr>
        <td>Python FullStack</td>
        <td>6 Months</td>
        <td>Offline</td>
      </tr>
    </table>
    <section>
      <h2>Learning Path</h2>
      <ol>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Flask</li>
        <li>Database</li>
      </ol>
    </section>
  </main>
  <footer>

    <hr>

    <p>&copy; 2026 NRIIT Learning Management System</p>

    <p>Email: info@nriit.edu</p>

    <p>Phone: +91 9876543210</p>

    <p>Follow Us:</p>

    <a href="#">Facebook</a> |

    <a href="#">Instagram</a> |

    <a href="#">LinkedIn</a>

  </footer>
</body>

</html>