<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">

    <title>Register page</title>
</head>

<body>
    <header>Register</header>
    <main>
        <h2>Student Registration </h2>
        <form id="registerForm">
            <label>Full Name</label><br>
            <input type="text" placeholder="Enter Your Name" id="name"><br>
            <label>Email</label><br>
            <input type="email" placeholder="Enter your email" id="email"><br>
            <label>Password</label><br>
            <input type="password" placeholder="Enter Your Password" id="password"><br>
            <label>Date of Birth</label><br>
            <input type="date" placeholder="DOB"><br>
            <label>Gender</label><br>
            <input type="radio" name="gender">Male
            <input type="radio" name="gender">Female <br><br>
            <label>Select Course</label>
            <br>
            <select>
                <option>Python FullStack</option>
                <option>Java FullStack</option>
            </select>
            <br>
            <button type="submit" value="Register">Register</button>
        </form>
    </main>
    <script src="js/script.js"></script>
</body>

</html>